body{
	background-color: antiquewhite;
	font-family: "Didot";
}
#greeting{
	border-left: 8px solid green;
	background-color: lightgreen;
	display: inline-block;
	padding: 5px;
}
button{
	padding: 4px;
}
.centered{
	text-align: center;
	
}
