body{
	background-color: antiquewhite;
	font-family: "Didot";
	font-size: 24px;

}
h1 {
	margin-bottom: 5px;
}
#greeting{
	border-left: 8px solid green;
	background-color: lightgreen;
	display: inline-block;
	padding: 5px;
}
button{
	padding: 4px;
}
.centered{
	text-align: center;

}
#textbox{
	border: 5px solid green;
	background: #fc3;
	padding:3px;
	display: inline-block;
	}
#inputbox{
	display: inline-block;
	font-size: 24px;
}
